body{
    font-family: sans-serif,'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0;
    background-color: #e7eef5;
}
h1{
    text-align: center;
    color: #2c2e50;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
form{
    max-width: 600px;
    margin: auto;
    background-color:rgb(213, 218, 218);
}
fieldset{
    border: 2px solid #3498bd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
    box-shadow:0 4px 8px  rgba(0,0,0,0.5);

}
legend{
    font-weight: bold;
    text-align: left;
    color: #2c2e50;
}
label{
    display: block;
    margin-top: 10px;
    color: #2c2e50;
}
input,textarea{
    width:calc(100% - 10px);
    padding:8px;
    margin: 4px;
    border:1px solid #3498bd;
    border-radius:4px ;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10PX;
    background-color: #2fbef1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: #92cfe6;
}
#resume-form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498bd;
    border-radius:8px;
    background-color: aliceblue ;
    box-shadow:0 4px 8px  rgba(0,0,0,0.5);
}
#resume-form h2{
color: black;
}


